
    .btt{
        background: #4621ad;
        color: #fff;
        border-radius: 5px;
    }
    .btt:hover{
        background: #fd9c9c;
        color: #fff;
        box-shadow: 0 4px 8px 0 rgba(221, 16, 170, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
       
    }